b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea/*
*.iml
projectFilesBackup

.DS_Store
node_modules

bower_components
assets/css/conway.css
assets/css/conway.css.map
.DS_Store
._.TemporaryItems
._layout.psd
